<!--

<div class="feature-img text-center" style="background-image: url('{{cover_picture}}');'" >
    <img src="{{profile_picture}}" alt="{{name}} composit profile." class="img-circle img-thumbnail">
    <h1> {{name}} </h1>
</div>
-->
    
    <div class="bio container">
        <div class="row">
        <div class="col-md-8 col-md-offset-2 bio-bottom">
            
        <div class="col-sm-4">
    <img src="{{profile_picture}}" alt="{{name}} composit profile." class="img-circle img-thumbnail">
    </div>
            <div class="col-sm-8">
    
    <h1 class="text-right"> {{name}} </h1>

      <ul class="social-icons">
        <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="123 Followers"> <i class="fa fa-twitter"></i> </a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="24 Followers"> <i class="fa fa-github"></i> </a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="12 Followers" > <i class="fa fa-bitbucket"></i> </a></li>
          <li><a href="#" data-toggle="tooltip" data-placement="bottom" title="132 Followers" > <i class="fa fa-behance"></i> </a></li>
      </ul>
                
        </div>
            <div class="cleafix"></div>
            
        </div>
            </div>
    </div>  

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {{#each posts}}

                {{#if twitter}}
            
                <div class="post twitter">
                    {{#if image}}
                    <img src="{{image}}" alt="{{title}}" class="img-responsive img-rounded">
                    {{/if}}
                    <h3> {{title}} </h3>
                    <p><strong>Nate Sanchez</strong> @nsg223 &bull; March 15</p>
                    <p>     {{content}} </p>
                    <p class="pull-right">View on <i class='fa fa-twitter'></i> Twitter </p>
                </div>
            
                {{/if}}
                
                {{#if behance}}
                <div class="post behance">
                {{#if image}}
                <img src="{{image}}" alt="{{title}}" class="img-responsive img-rounded">
                {{/if}}
                <h3> {{title}} </h3>
                <p>     {{content}} </p>
                <p class="pull-left"><i class="fa fa-thumbs-up"></i> 157 <i class="fa fa-eye"></i> 1368 Views</p>
                <p class="pull-right">View on <i class='fa fa-behance'></i> Behance </p>
                </div>
                {{/if}}
            
                {{#if github}}
                <div class="post behance">
                {{#if image}}
                <img src="{{image}}" alt="{{title}}" class="img-responsive img-rounded">
                {{/if}}
                <h3> {{title}} </h3>
                <p>     {{content}} </p>
                <p class="pull-right">View on <i class='fa fa-github'></i> Github </p>
                </div>
                {{/if}}
            
                            {{#if bitbucket}}
                <div class="post behance">
                {{#if image}}
                <img src="{{image}}" alt="{{title}}" class="img-responsive img-rounded">
                {{/if}}
                <h3> {{title}} </h3>
                <p>     {{content}} </p>
                <p class="pull-right">View on <i class='fa fa-bitbucket'></i> Bitbucket </p>
                </div>
                {{/if}}
            
            {{/each}}
        </div>
    </div>
    
</div>